ion-back-button {
    --color: white;
}

ion-toolbar {
    --background: linear-gradient(to right, #008598, #002343);
    --color: white;
}

#feedback {
    width: 6rem;
}

.my-flex-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
